In [37]:
import pandas as pd
import numpy as np

In [83]:
date = pd.DataFrame()
datedf = pd.read_csv('pre.csv')
date['Date'] = datedf['Date']
date.head(32)

          Date
0   01-01-2016
1   02-01-2016
2   03-01-2016
3   04-01-2016
4   05-01-2016
5   06-01-2016
6   07-01-2016
7   08-01-2016
8   09-01-2016
9   10-01-2016
10  11-01-2016
11  12-01-2016
12  13-01-2016
13  14-01-2016
14  15-01-2016
15  16-01-2016
16  17-01-2016
17  18-01-2016
18  19-01-2016
19  20-01-2016
20  21-01-2016
21  22-01-2016
22  23-01-2016
23  24-01-2016
24  25-01-2016
25  26-01-2016
26  27-01-2016
27  28-01-2016
28  29-01-2016
29  30-01-2016
30  31-01-2016
31  01-02-2016

In [103]:
dates = pd.DatetimeIndex(date['Date'],)
print(dates.day)

Int64Index([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
            ...
            20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
           dtype='int64', name='Date', length=364)

In [99]:
for i in range(0,363):
    print(date['Date'].values[i].day)

AttributeError: 'numpy.datetime64' object has no attribute 'day'

In [91]:
date['Date'] = pd.to_datetime(date['Date'],format = '%d%b%Y:%H:%M:%S.%f')

In [94]:
date['Date'].head(30)

0    2016-01-01
1    2016-02-01
2    2016-03-01
3    2016-04-01
4    2016-05-01
5    2016-06-01
6    2016-07-01
7    2016-08-01
8    2016-09-01
9    2016-10-01
10   2016-11-01
11   2016-12-01
12   2016-01-13
13   2016-01-14
14   2016-01-15
15   2016-01-16
16   2016-01-17
17   2016-01-18
18   2016-01-19
19   2016-01-20
20   2016-01-21
21   2016-01-22
22   2016-01-23
23   2016-01-24
24   2016-01-25
25   2016-01-26
26   2016-01-27
27   2016-01-28
28   2016-01-29
29   2016-01-30
Name: Date, dtype: datetime64[ns]

In [42]:
datedf = pd.to_datetime(datedf)
datedf.head(15)

0    2016-01-01
1    2016-02-01
2    2016-03-01
3    2016-04-01
4    2016-05-01
5    2016-06-01
6    2016-07-01
7    2016-08-01
8    2016-09-01
9    2016-10-01
10   2016-11-01
11   2016-12-01
12   2016-01-13
13   2016-01-14
14   2016-01-15
Name: Date, dtype: datetime64[ns]

In [43]:
finaldf = pd.read_csv('FINAL.csv')
finaldf['Date'] = datedf
finaldf.head(15)

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumMm,Date
0,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,29.86,29.68,29.59,10.0,7.0,2.0,20,4,31,11.684000,2016-01-01
1,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,30.41,30.13,29.87,10.0,10.0,5.0,16,6,25,0.000000,2016-02-01
2,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,30.56,30.49,30.41,10.0,10.0,10.0,8,3,12,0.000000,2016-03-01
3,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,30.56,30.45,30.30,10.0,10.0,7.0,12,4,20,0.000000,2016-04-01
4,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,30.41,30.33,30.27,10.0,10.0,7.0,10,2,16,2.623828,2016-05-01
5,57,48,39,39.0,36.0,33.0,79.0,63.0,47.0,30.47,30.40,30.34,10.0,9.0,7.0,12,3,17,0.000000,2016-06-01
6,60,53,45,41.0,39.0,37.0,83.0,65.0,47.0,30.46,30.39,30.34,10.0,9.0,7.0,7,1,11,2.623828,2016-07-01
7,62,51,40,43.0,39.0,33.0,92.0,64.0,36.0,30.33,30.17,30.04,10.0,10.0,7.0,10,2,14,2.623828,2016-08-01
8,64,50,36,49.0,41.0,28.0,92.0,76.0,60.0,30.31,30.10,29.99,10.0,10.0,4.0,17,5,24,0.000000,2016-09-01
9,44,40,35,31.0,26.0,21.0,75.0,60.0,45.0,30.44,30.33,30.26,10.0,10.0,10.0,13,5,21,0.000000,2016-10-01
10,55,46,36,31.0,28.0,23.0,76.0,54.0,32.0,30.49,30.39,30.27,10.0,10.0,10.0,8,1,12,0.000000,2016-11-01
11,69,54,39,51.0,42.0,30.0,83.0,68.0,52.0,30.25,30.11,30.01,10.0,10.0,8.0,13,4,22,0.000000,2016-12-01
12,55,44,33,39.0,26.0,19.0,83.0,55.0,26.0,30.49,30.37,30.15,10.0,10.0,9.0,21,8,31,0.000000,2016-01-13
13,58,43,28,37.0,22.0,18.0,75.0,49.0,22.0,30.48,30.35,30.14,10.0,10.0,10.0,14,4,21,0.000000,2016-01-14
14,71,57,42,55.0,48.0,38.0,89.0,68.0,47.0,30.12,29.95,29.81,10.0,10.0,8.0,16,7,28,0.000000,2016-01-15

In [35]:
finaldf['Date'].head(15)

0    2016-01-01
1    2016-02-01
2    2016-03-01
3    2016-04-01
4    2016-05-01
5    2016-06-01
6    2016-07-01
7    2016-08-01
8    2016-09-01
9    2016-10-01
10   2016-11-01
11   2016-12-01
12   2016-01-13
13   2016-01-14
14   2016-01-15
Name: Date, dtype: datetime64[ns]

In [28]:
month = []
for i in range(0,364):
    month.append(finaldf['Date'][i].month)
print(month)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12]